
.product-detail {
  table {
    tr {
      td {
        &:nth-child(1), &:nth-child(2) {
          width: 25%;
        }
        &:nth-child(3) {
          width: 50%;
        }
      }
    }
  }
  button {
    width: 100%;
    margin-bottom: 10px;
  }
  .detail-block {
    display: flex;
    align-items: center;
    img {
      width: 50px;
      margin-right: 20px;
    }
    p:last-child {
      margin: 0;
    }
    p{
      strong{
        text-transform: capitalize;
      }
    }
  }
}


