
.product-detail {
  table {
    thead, tfoot {
      background-color: $gray-lighter;
      tr th {
        text-align: right;
        color: $brand-info;

      }
    }
    tr {
      td {
        &:nth-child(1), &:nth-child(2) {
          width: 25%;
        }
        &:nth-child(3) {
          width: 50%;
        }
        &:nth-child(2){
          text-align: center;
        }
      }

    }
  }
  button {
    width: 100%;
    margin-bottom: 10px;
  }
  .detail-block {
    display: flex;
    align-items: center;
    img {
      width: 50px;
      margin-right: 20px;
    }
    p:last-child {
      margin: 0;
    }
    p{
      strong{
        text-transform: capitalize;
      }
    }
  }
  .highlight{
    font-size: 22px;
    font-weight: bold;
  }
}


