<!-- cart -->
<div class="row cart">
  <div class="table-responsive col-md-8">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th></th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th>Total</th>
        <th>{{cart.totalItems}}</th>
        <th>{{cart.totalPrice|currency}}</th>
      </tr>
      </tfoot>
      <tbody>
      <tr ng-repeat="(key, val) in cart.items">
        <th scope="row">{{key}}</th>
        <td>
          <div class="qty-cont clearfix">
            <input type="text" placeholder="Qty." value="{{val.qty}}"/>
            <button type="button" class="btn btn-default plus" ng-click="cart.incrementQty(key)">+</button>
            <button type="button" class="btn btn-default minus" ng-click="cart.decrementQty(key)">-</button>
          </div>
        </td>
        <td>{{val.price|currency}}</td>
        <td>
          <button type="button" class="close" aria-label="Close" ng-click="cart.removeItem(key)"><span
            aria-hidden="true">&times;</span></button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <button type="button" class="btn btn-danger btn-lg" ng-click="cart.clearCart();">clear cart</button>
    <button type="button" class="btn btn-default btn-lg" ng-click="cart.goBack();">back to store</button>
  </div>
</div>
