<!-- cart -->
<div class="row cart">
  <div class="table-responsive col-md-8">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Apple</th>
        <td>
          <div class="qty-cont clearfix">
            <input type="text" placeholder="Qty."/>
            <button type="button" class="btn btn-default plus">+</button>
            <button type="button" class="btn btn-default minus">-</button>
          </div>
        </td>
        <td>$24</td>
        <td>
          <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <button type="button" class="btn btn-success btn-lg">add to cart</button>
    <button type="button" class="btn btn-danger btn-lg">remove from cart</button>
    <button type="button" class="btn btn-default btn-lg">back to store</button>
  </div>
</div>
