<!-- product-detail -->
<div class="row product-detail">
  <div class="table-responsive col-md-8">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th colspan="4">#3 items $28.00</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Table cell</td>
        <td>Table cell</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Table cell</td>
        <td>Table cell</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Table cell</td>
        <td>Table cell</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <button type="button" class="btn btn-success btn-lg">add to cart</button>
    <button type="button" class="btn btn-danger btn-lg">remove from cart</button>
    <button type="button" class="btn btn-default btn-lg">back to store</button>
  </div>
</div>
